body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* NAVBAR */

.fas {
    font-size: 25px;
}

.stick {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}

.title {
    font-size: 34px;
    font-weight: 700;
    margin-left: 15px;
}

.title a:hover {
    cursor: pointer;
    border-bottom: none; 
    color: black;
}

nav a {
    color: black;
    font-weight: 600;
}

nav a:hover, nav i:hover {
    color: #003cd4;
    cursor: pointer;
}

.fas:hover {
    color: #777777;
}

#slider {
    font-weight: bold;
}

/*SIDE NAV*/

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #e0d7d7;
    font-size: 30px;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: rgb(250, 91, 47);
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* FOOTER */

footer {
    background-color: #111111;
}

#social {
    padding: 45px;
    width: 80%;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .2px;
    border-bottom: 0.5px solid #777777;
}

#footerSecond {
    padding: 33px;
    color: #777777;
}

footer a {
    color: white;

}

/* INDEX WINDOW */

.bg-img {
    background-image: url(../img/Nike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 630px;
}

#shopNow {
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(250, 91, 47);
    border: none;
    padding: 15px 105px;
}

#shopNow:hover {
    cursor: pointer;
    color: rgb(250, 91, 47);
    background-color: white;
}

/* REGISTER */

.registerBg {
    background-image: url(../img/registerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

small {
    color: rgb(238, 61, 30);
}

/* LOGIN */

.loginBg {
    background-image: url(../img/loginBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 640px;
}

label {
    font-weight: bold;
}

/*SHOP WINDOW*/

#shopWindow {
    padding: 0 30px;
    background-color: rgb(236, 239, 241);
}

#shopWindow img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 180px;

}

#imgDiv {
    margin: 20px 20px 80px;
}

#imgDiv:hover {
    transition: 0.8s;
    transform: scale(1.2);
    cursor: pointer;
}

#productName {
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    color: rgb(236, 239, 241);
}

#productPrice {
    text-align: center;
    margin: 0 0 10px;
    color: rgb(236, 239, 241);
    font-weight: 600;
}

/*PRODUCT WINDOW*/

.firstHalf {
    background-color: rgb(236, 239, 241);
    width: 50%;
    height: 100%;
    padding: 70px;
}

#firstImg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}

.smallImg {
    width: 73px;
    height: 36px;
    border: 2px solid black;
    object-fit: contain;
    object-position: center;
}

.smallImg:hover {
    cursor: pointer;
}

.secondHalf {
    width: 50%;
    padding-right: 30px;
}

.secondHalf p {
    font-size: 18px;
    color: #15171f;
    line-height: 2;
    margin-bottom: 20px;
    text-align: justify;
}

.productBtn {
    background-color: #15171f;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-weight: bold;
}

.productBtn:hover {
    background-color: white;
    color: #15171f;
    border: 2px solid #15171f;
    font-weight: bold;
}

#midName {
    background: linear-gradient(to right, rgb(236, 239, 241) 50%, white 50%);
    padding-top: 20px;
    /* height: 100%; */
}

#midName h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}

#midName p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(250, 91, 47);
    margin: 0;
}

.fa-th {
    font-size: 25px;
}

.fa-th:hover {
    cursor: pointer;
}

#outOfStock {
    text-align: center;
}